{% extends 'newsletter/base.html' %}
{% block title %}Информация о сообщении{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о сообщении</h1>
    <p class="lead">{{message.name_message}}</p>
    <p class="lead">{{message.description_message}}</p>
    <a href="{% url 'newsletter:newsletter_list' %}" class="btn btn-primary">Вернуться к главной странице</a>
    {% if user.is_authenticated and newsletter.owner == user %}
    <a href="{% url 'newsletter:message_update' message.pk %}" class="btn btn-primary">Редактировать</a>
    <a href="{% url 'newsletter:message_delete' message.pk %}" class="btn btn-primary">Удалить сообщение</a>
    {% endif %}

</div>
{% endblock %}